.card{
  background-color: #003d33;
}

.rounded {
  width: 95%;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  height: 40px;
  text-align: center;
  background-color: #ef5350;
  padding-top: 5px

}