<ion-header>
  <ion-toolbar>
    <ion-title>Cadastrar Credenciais</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content>
  
<div align="center">
  <form [formGroup]="userForm" style="padding-top: 10px"padding>
  
    <ion-input class="rounded" style="padding-top: 20px" maxlength="6" type="text" formControlName="id" placeHolder="Digite o ID*"></ion-input>

    <div style="padding-top: 5px">
      <ion-input class="rounded" style="padding-top: 3px"  type="text" formControlName="mac" placeHolder="Digite o MAC*"></ion-input>
    </div>
    
    <div style="padding-top: 5px">
      <ion-input class="rounded" style="padding-top: 3px"  type="text" maxlength="11" formControlName="senha" placeHolder="Digite a senha*"></ion-input>
    </div>
    
    <div style="padding-top: 5px">
      <ion-input class="rounded" style="padding-top: 3px"  type="number" maxlength="11" formControlName="cpf" placeHolder="CPF (Apenas números) *"></ion-input>
    </div>
   
  </form>

  <div style="padding-top: 8px" padding>
    <ion-button  (click)="sendCredentials()" color="dark"  style=" width: 95%; padding-top: 3px" mode="ios" expand="block" >Cadastrar</ion-button>
  </div>

</div>


</ion-content> -->

<ion-content>
  <form [formGroup]="userForm" style="padding-top: 10px"padding>
  <ion-list>
    <ion-item>
      <!-- <ion-label stacked>ID:</ion-label> -->
      <ion-input maxlength="6" type="text" formControlName="id" placeHolder="Digite o ID*"></ion-input>
    </ion-item>
  
    <ion-item>
      <!-- <ion-label stacked>MAC:</ion-label> -->
      <ion-input style="padding-top: 3px"  type="text" maxlength="17" formControlName="mac" placeHolder="Digite o MAC*"></ion-input>
    </ion-item>
    
    <ion-item>
      <!-- <ion-label stacked>Senha:</ion-label> -->
      <ion-input style="padding-top: 3px"  type="text" maxlength="11" formControlName="senha" placeHolder="Digite a senha*"></ion-input>
    </ion-item>
    
    <ion-item>
      <!-- <ion-label stacked>CPF: (Apenas números)</ion-label> -->
      <ion-input style="padding-top: 3px"  type="number" maxlength="11" formControlName="cpf" placeHolder="CPF (Apenas números)*"></ion-input>
    </ion-item>
  </ion-list>
</form>

<div align="center" style="padding-top: 8px" padding>
  <ion-button  (click)="sendCredentials()" color="dark"  style=" width: 95%; padding-top: 3px" mode="ios" expand="block" >Cadastrar</ion-button>
</div>
</ion-content>
