<!-- <ion-header [translucent]="true" class="backgroundH"> -->
  <ion-header class="backgroundH">
  <ion-toolbar *ngIf="flagBegin">
    <!-- <ion-title>
      Controle
    </ion-title> -->
    <div align="center"> 
      <ion-img *ngIf="flagBegin" src="/assets/mensislogo2.png" style="width: 50%"></ion-img>
    </div>
    <ion-buttons slot="end">
      <ion-button (click)="presentToolbarPopover($event)">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> 

<!-- <ion-header class="backgroundH">
  <div align="center">
    <ion-icon name="ellipsis-vertical"  slot="end"></ion-icon>
    <ion-button (click)="presentConfPopover($event)">
     
    </ion-button>
  </div>
 
</ion-header> -->


<div style="margin-top: 20px;"></div>
<!-- <ion-content *ngIf="flagBegin"> -->

  <ion-content padding class="background" slot="fixed" *ngIf="flagBegin">

  <ion-img *ngIf="!flagLedAceso" class="led" src="/assets/ledApagado.png" style="width: 20px;height: 20px;"></ion-img>
  <ion-img *ngIf="flagLedAceso" class="led" src="/assets/ledAceso.png" style="width: 20px;height: 20px;"></ion-img>


  <ion-fab class="btnA" slot="fixed">
    <ion-fab-button (click)="pressBtnA()" color="dark" >A</ion-fab-button>
  </ion-fab>

  <ion-fab class="btnB" slot="fixed">
    <ion-fab-button (click)="pressBtnB()" color="dark">B</ion-fab-button>
  </ion-fab>

  <ion-fab class="btnC" slot="fixed">
    <ion-fab-button (click)="pressBtnC()" color="dark">C</ion-fab-button>
  </ion-fab>

  <!-- <ion-fab vertical=bottom horizontal="end" class="btnDelete" slot="fixed">
    <ion-fab-button (click)="pressBtnDelete()" color="danger">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

  
  <!-- <ion-header collapse="condense">
    
  </ion-header> -->
  
  <!-- <div align="center" style="margin-top: 20px;">
    <ion-card  class="card">
      <ion-card-header>
          <p align="center" class="icon" style="margin-bottom: -2px;border:black">
              <ion-img *ngIf="!statusBluetoothConection" style="width: 100%; height:80px; padding: 5px; margin-top: -20px;" src="assets/off.png"></ion-img>
              <ion-img *ngIf="statusBluetoothConection" style="width: 100%; height:80px; padding: 5px; margin-top: -20px;" src="assets/on.png"></ion-img>
            </p>
            <ion-card-subtitle style="color: black" align="center"><b>Conexão</b></ion-card-subtitle>  
      </ion-card-header>
    </ion-card>
      
  </div>
  
  <ion-button (click)="pressBtnPortao()" style="margin-top: 30px;" expand="block">Acionar Portão</ion-button>
  <ion-button (click)="pressBtnCampainha()" style="margin-top: 20px;" expand="block">Acionar Campainha</ion-button>
  
  <ion-item style="margin-top: 20px;">
    <ion-range (ionChange)="onSliderChanged()" [(ngModel)]="range" min="100" max="255" step="2">
      <ion-icon size="small" slot="start" name="sunny"></ion-icon>
      <ion-icon slot="end" name="sunny"></ion-icon>
    </ion-range>
  </ion-item>

  <ion-item style="margin-top: 20px;" align="center">
    <ion-label>Acionar Lâmpada</ion-label>
    <ion-toggle (click)="pressToggle()" [(ngModel)]="toogleLampada"></ion-toggle>
  </ion-item>
         -->

</ion-content>

<!-- <ion-footer>
  <div align="center">
    <ion-img  *ngIf="flagBegin" src="/assets/mensislogo.png" style="width: 50%"></ion-img>
  </div>
</ion-footer> -->






<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->
