#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.card{
  background-color: #fff;
  width: 40%;
  height: 70%;
  border-radius: 10px;
}


// .backgrond{
//   --background: url(../assets/mensis-background.png) 0 0/100% 100% no-repeat;
// }

ion-content.background{
  align-self: center;

  --background: url(../../assets/background3.png) 0 20%/100% 80% no-repeat;
}

ion-toolbar{

  --ion-background-color:#424242  ;
  color: white;
}


ion-header.backgroundT{
align-self: center;
background-color: #424242;
}

ion-tollbar.backgroundH{
  align-self: center;
  background-color: #424242;
  }

.btnA{
margin-left: 25%;
margin-top: 45%;
}



.btnB{
margin-left: 43%;
margin-top: 28%;
}

.btnC{
margin-left: 60%;
margin-top: 45%;
}


.led{
margin-left: 48%;
margin-top: 17%;
}

.btnDelete{
margin-left: 80%;
margin-top: 95%;
}
