<ion-header>
  <ion-toolbar>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item (click)="presentAlertConfirm()">
      <ion-label>Apagar credenciais</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
